.bootcamps{
    height: 80vh;
}
.description{
    background: #FFD7B1;
    /* margin-left: 131.5px; */
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 24px;
    /* height: 362px; */
    height: 50vh;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.category{
    margin-left: 35rem;
    margin-right: 20rem;
}

.button_join{
    background: #161E3C;
    color: white;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.amet_minim{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.c1{
    background: #FB9B43;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.c2,.c3{
    background: #FFD7B1;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}