.background{
    /* height: 50vh; */
    background-color: #161E3C;
}
.background_header{
    height: 90vh;
    background-color: #161E3C;
}

.empty_div{
    background: #C1CFFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-right: 15px; */
}

.img_div{
    background: #FB9B43;
    padding: auto;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
}

.button_view{
    background: #FB9B43;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    font-size: 25px;
}

@media only screen and (max-width: 992px) {

    .header{
        margin-left: 125px;
        margin-right: 125px;
        padding-top: 80px;
    }
}
@media only screen and (min-width: 992px) {
    .header{
        margin-left: 255px;
        margin-right: 255px;
        padding-top: 80px;
    }
}